:root {
  --first-color: #DA2535;
  --second-color: #C42130;
  --third-color: #DE3B49;
  --title-color: #161212;
  --text-color: #5B5757;
  --light-text-color: #8F8A8A;
}

.bigger {
  font-size: 2rem;
}

.small {
  font-size: .938rem;
}

.xsmall {
  font-size: .813rem;
}

.container__aka {
  width: 100%;
}

.akademik {
  background: var(--first-color);
  width: 100%;
  position: relative;
}

.akademik .title {
  position: relative;
  font-weight: 900;
  font-size: 70px;
  color: var(--title-color);
  text-align: center;
  background: #FEFBFB;
  padding: .5rem;
}

.akademik .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 7% 10%;
  /* height: 50vh; */
}

.akademik .grid-container .container {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.7);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.akademik .grid-container .container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.akademik .grid-container .headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.akademik .grid-container .headline h1 {
  font-size: 70px;
  color: #fff;
}

.akademik .grid-container .headline h2 {
  font-size: 60px;
  color: var(--title-color);
}

.akademik .grid-container .card {
  position: relative;
}

.akademik .grid-container .card::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  bottom: 0;
  left: 0;
  -webkit-clip-path: polygon(0 93%, 100% 79%, 100% 100%, 0% 100%);
          clip-path: polygon(0 93%, 100% 79%, 100% 100%, 0% 100%);
}

.akademik .grid-container .card img {
  width: 100%;
  max-height: 250px;
  border-radius: 20px 20px 0 0;
}

.akademik .grid-container .details a {
  padding: 1.2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.akademik .grid-container .details a:hover {
  color: var(--second-color);
}

.content {
  /* background: #FEFBFB; */
  /* margin: 1rem 0; */
}

.content .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  padding: 5rem;
}

.content .grid-container .container {
  background-color: #fff;
  width: 100%;
  -webkit-box-shadow: 0 2px 6px rgba(65,11,16,.15);
          box-shadow: 0 2px 6px rgba(65,11,16,.15);
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 20px;
}

.content .grid-container .container:hover {
  -webkit-box-shadow: 0 5px 30px rgba(65,11,16,.15);
          box-shadow: 0 5px 30px rgba(65,11,16,.15);
  transform: scale(1.1);
}

.content .grid-container .card {
  position: relative;
}

.content .grid-container .card img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20px 20px 0 0;
}

.content .grid-container .card .desc {
  padding: 1rem;
  height: 200px;
  position: relative;
}

.content .grid-container .card .desc .title {
  color: var(--title-color);
  height: 120px;
  border-bottom: 1px solid var(--second-color);
  overflow-y: auto;
}

.content .grid-container .card .desc .title::-webkit-scrollbar {
  width: 1px;
}

.content .grid-container .card .desc .title h3 {
  color: var(--light-text-color);
  font-weight: 500;
}

.content .grid-container .card .desc .btn-container {
  margin: 1.05rem 0;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  background: var(--first-color);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.content .grid-container .card .desc .btn-container .btn a {
  font-weight: 500;
  text-decoration: none;
  color: #FEFBFB;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.content .grid-container .card .desc .btn-container:hover {
  background: var(--second-color);
}

.content .grid-container .card .desc .btn-container:hover a {
  color: #fff;
}

.back {
  background: #FEFBFB;
  margin: 1rem 0;
}

.back .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  padding: 0 10%;
}

.back .grid-container .container a {
  color: var(--first-color);
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.back .grid-container .container a .back-btn {
  border: 1px solid var(--first-color);
  padding: 10px 5px;
  text-align: center;
  border-radius: 20px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.back .grid-container .container a .back-btn:hover {
  background: var(--second-color);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.back .grid-container .container a:hover {
  color: #fff;
}

@media only screen and (max-width: 1245px) {
  .back .grid-container .container2 {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .akademik .title {
    font-size: 60px;
  }
  .akademik .grid-container .headline h1 {
    font-size: 60px;
  }
  .akademik .grid-container .headline h2 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 810px) {
  .akademik .title {
    font-size: 50px;
  }
  .akademik .grid-container .headline h1 {
    font-size: 50px;
  }
  .akademik .grid-container .headline h2 {
    font-size: 40px;
  }
}

p.content-description {
    color: var(--text-color);
}

.blog-box-s{
  /* width: 45%; */
  background-color: white;
  float: left;
  border-radius: 1rem;
  margin-bottom: 40px;
  -webkit-box-shadow: 0 2px 6px rgba(65,11,16,.15);
          box-shadow: 0 2px 6px rgba(65,11,16,.15);
  transition: all .3s;
  padding: 2rem;
}

.blog-box-s:hover {
  transform: scale(1.1);
}

.blog-box-s img {
  width: 100%;
  height: 200px;
  border-radius: 1rem 1rem 0 0;
}

@media (max-width : 800px){
  .blog-box-s{
      margin: auto;
      margin-bottom: 20px;
      float: none;
  }
}

.aka-card {
  margin-left: 0;
}

p.title-aka {
  font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    /* color: var(--first-color); */
    color: var(--text-color);
}
