:root {
    --accent: #3DB45E;
    --dark: #17191D;
    --light: #f4f4f4;
    --overlay: rgba(23,25,29,0.8);
    --ease: all 0.3s ease 0s;
}


.ekspresi__wrapper h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.ekspresi__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "top__section"
    "content__section"

}

.top__section {
    grid-area: top__section;
    min-height: 90vh;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-areas: 
    ". header .";
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.ekspresi__header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--light);
}

.ekspresi__header p {
    max-width: 570px;
    margin-bottom: 30px;
    font-size: 18px;
    text-align: justify;
}

.ekspresi__header button {
    width: 131px;
    padding: 12px 0;
    background-color: var(--first-color);
    border: none;
    color: var(--light);
    border-radius: 1rem;
    transition: .5s;
}

.ekspresi__header button:hover {
    transform: scale(1.1);
}

.content__section {
    grid-area: content__section;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-areas: 
    ". playlist__one ."
    ". playlist__two .";
    margin-bottom: 60px;
}

.playlist__one {
    grid-area: playlist__one;
    margin-bottom: 25px;
}

.playlist__two {
    grid-area: playlist__two;
}

.playlist__title {
    margin: 30px 0;
    font-size: 20px;
}

.videos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.video {
    height: 250px;
    grid-column-start: span 3;
    position: relative;
    transition: var(--ease);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.video:hover {
    transform: scale(1.02);
}

.video i {
    cursor: pointer;
    font-size: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--light);
    opacity: 0.85;
    transition: var(--ease);
}

.video i:hover {
    opacity: 1;
}

@media screen and (max-width: 500px) {
    .video {
        grid-column-start: span 6;
        height: 300px;
    }
}

@media only screen and (min-width: 501px) {
    .video {
        grid-column-start: span 6;
        height: 310px;
    }
}